<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="77ede6dc-0acb-4342-8726-91b415f52f51" created="2.2.0" activeEnvironment="Default environment" name="Customer-Profile" resourceRoot="" updated="2.2.0 20180202-1457" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="77ede6dc-0acb-4342-8726-91b415f52f51fileName">Customer-Profile-readyapi-project</con:setting></con:settings><con:vcsConfiguration><con:vcsName>Git</con:vcsName><con:repositoryIdentifier>https://github.com/earth2software/customer-profile-repo/tree/Test</con:repositoryIdentifier></con:vcsConfiguration><con:savedRecentRuns>1</con:savedRecentRuns><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:jmsConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:authRepository/><con:tags/></con:soapui-project>