<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d9f7bdf1-578c-4b6f-9862-12d88d2930d2" name="Customer Profile Management Microservice TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [Customer Profile Management Microservice]</con:description><con:settings><con:setting id="d9f7bdf1-578c-4b6f-9862-12d88d2930d2fileName">Customer-Profile-Management-Microservice-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>